.sidebar {
  z-index: 10;
  box-shadow: 0.5px 1px 1px 0.5px rgba(0, 0, 0, 0.1);
}
.sidebar h2 {
  font-family: "Lexend", sans-serif;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
  list-style: none;
  padding-top: 1rem;
  margin-left: 0.5rem;
}
